@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, #fdfaf8 0%, #fdfaf8 49.35%, #d8e0e0 72.79%, #a8c4c2 100%);
} */

.border_ani_start {
  background-color: #272e3f;
}

.border_ani {
  background: conic-gradient(from 0deg, transparent 0 var(--angle), #272e3f var(--angle) 360deg);
  /* animation-fill-mode: forwards; */
  /* animation-play-state: paused; */
  animation: rotate 800ms 1 normal forwards ease-in-out;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}
